html, body {
    height: 100%;
    margin: 0;
}
body {
    background: linear-gradient(180deg, #B353CB 0%, #3D3C94 100%);
    overflow: hidden;
    }
h1 {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Righteous;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

