
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: #6665ee;
}

.menu {
    text-align: center;
    margin-top: 50px; /* Ajustez la marge selon vos préférences */
    border: 2px solid #ccc;
    border-radius: 15px;
}

.titre {
    font-family: 'Righteous', cursive;
    color: #333;
}

.labelChamp {
    display: block;
    margin-top: 10px;
}

.champ {
    width: 70%;
    height: 40px;
    border-radius: 15px;
    margin-top: 5px;
}

.button {
    font-size: 20px; /* Ajustez la taille du texte selon vos préférences */
    padding: 10px 20px; /* Ajustez le rembourrage pour définir la taille du bouton */
    margin-top: 20px;
    border-radius: 15px; /* Ajustez la marge selon vos préférences */
}
